.marcaPerfilSelecionado {
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.marcaTransparentePerfilSelecionado {
    width: 100%;
    height: 89%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.containerPerfil {
    position: relative;
    left: 2%;
    height: 90vh;
    width: 90vw;
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    color: var(--default-color);
    padding: 16px;
    gap: 16px;
}

.containerPerfil__containerCardPerfil {
    color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    width: 35%;
    height: 50%;
    border-radius: 20px;
    position: relative;
    display: flex;
    padding: 16px;
}

.containerPerfil__containerPublicacoes {
    color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    width: 65%;
    max-height: 100%;
    border-radius: 20px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 16px;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: flex-start;
}

.containerCardPerfil__secaoMeuPerfil {
    z-index: 100;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secaoMeuPerfil__apresentacaoPerfil {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.apresentacaoMeuPerfil__tituloPerfil {
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: var(--default-color);
    font-weight: 600;
    font-style: normal;
}

.secaoMeuPerfil__botoesRecomendacao {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    gap: 16px;
}

.secaoMeuPerfil__descricaoPerfil {
    color: var(--contrast-color);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 310px;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 400;
}

.containerPerfil__containerTags {
    height: 32px;
    width: 100%;
    border: 0.5px solid #D9D7DA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.containerPublicacoesVazia {
    color: var(--contrast-color);
}

/*Editar Perfil*/

.marcaPerfilEditarSelecionado {
    width: 100%;
    height: 34%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.marcaTransparentePerfilEditarSelecionado {
    width: 100%;
    height: 39%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.containerPerfil__containerCardPerfilEditar {
    color: var(--default-color);
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    width: 35%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    display: flex;
    padding: 16px;
}

.botaoChatPerfilSelecionado {
    cursor: pointer;
}

.carregandoPerfil {
    color: var(--contrast-color);
}

@media (max-width: 2000px) {
    .containerPerfil__containerCardPerfil {
        height: 70%;
    }

    .marcaTransparentePerfilSelecionado {
        height: 75%;
    }

    .marcaPerfilSelecionado {
        height: 65%;
    }
}

@media (max-width: 1500px) {
    .containerPerfil__containerCardPerfil {
        height: 60%;
    }

    .marcaTransparentePerfilSelecionado {
        height: 75%;
    }

    .marcaPerfilSelecionado {
        height: 65%;
    }
}

@media (max-width: 1300px) {
    .containerPerfil__containerCardPerfil {
        height: 60%;
    }

    .marcaTransparentePerfilSelecionado {
        height: 60%;
    }

    .marcaPerfilSelecionado {
        height: 55%;
    }

   
}

@media (max-width: 950px) {
    .containerPerfil {
        flex-direction: column;
        align-items: center;
        width: 80vw;
        left: 30px;
    }

    .secaoMeuPerfil__apresentacaoPerfil {
        padding: 32px;
    }

    .containerPerfil__containerCardPerfil {
        width: 100%;
    }

    .containerPerfil__containerPublicacoes {
        width: 100%;
    }

    .marcaPerfilSelecionado {
        width: 95%;
        height: 93%;
        position: absolute;
        left: 2%;
        top: 0%;
    }

    .marcaTransparentePerfilSelecionado {
        width: 106%;
        height: 100%;
        position: absolute;
        left: -4%;
        top: 0%;
    }

    .secaoMeuPerfil__descricaoPerfil {
        width: 100%;
    }

    .containerPerfil__containerPublicacoes {
        align-items: flex-start;
        justify-content: center;
    }
}

@media (max-width: 1000px) {

    .containerPerfil {
        flex-direction: column;
        align-items: center;
        width: 80vw;
        left: 30px;
    }

    .containerPerfil__containerCardPerfil {
        width: 100%;
    }

    .containerPerfil__containerPublicacoes {
        width: 100%;
    }

    .marcaPerfilSelecionado {
        width: 100%;
        height: 88%;
        position: absolute;
        left: 0%;
        top: 0%;
    }

    .marcaTransparentePerfilSelecionado {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
    }

    .secaoMeuPerfil__descricaoPerfil {
        width: 100%;
    }

    .containerPerfil__containerPublicacoes {
        align-items: flex-start;
        justify-content: center;
    }

}

@media (max-width: 800px) {
    .containerPerfil {
        flex-direction: column;
        align-items: center;
        width: 80vw;
        left: 30px;
    }

    .containerPerfil__containerCardPerfil {
        width: 100%;
    }

    .containerPerfil__containerPublicacoes {
        width: 100%;
    }

    .marcaPerfilSelecionado {
        width: 100%;
        height: 83%;
        position: absolute;
        left: 0%;
        top: 0%;
    }

    .marcaTransparentePerfilSelecionado {
        width: 100%;
        height: 93%;
        position: absolute;
        left: 0%;
        top: 0%;
    }

    .secaoMeuPerfil__descricaoPerfil {
        width: 100%;
    }

    .containerPerfil__containerPublicacoes {
        align-items: flex-start;
        justify-content: center;
    }
}

@media (max-width: 600px) {

    .containerPerfil {
        flex-direction: column;
        align-items: center;
        width: 80vw;
        left: 30px;
    }

    .containerPerfil__containerCardPerfil {
        width: 100%;
    }

    .containerPerfil__containerPublicacoes {
        width: 100%;
    }

    .marcaPerfilSelecionado {
        width: 100%;
        height: 63%;
        position: absolute;
        left: 0%;
        top: 0%;
    }

    .marcaTransparentePerfilSelecionado {
        width: 100%;
        height: 80%;
        position: absolute;
        left: 0%;
        top: 0%;
    }

    .secaoMeuPerfil__descricaoPerfil {
        width: 100%;
    }

    .containerPerfil__containerPublicacoes {
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 300px) {

    .containerPerfil {
        flex-direction: column;
        align-items: center;
        width: 80vw;
        left: 30px;
    }

    .containerPerfil__containerCardPerfil {
        width: 100%;
    }

    .containerPerfil__containerPublicacoes {
        width: 100%;
    }

    .marcaPerfilSelecionado {
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0%;
        top: 0%;
    }

    .marcaTransparentePerfilSelecionado {
        width: 100%;
        height: 80%;
        position: absolute;
        left: 0%;
        top: 0%;
    }

    .secaoMeuPerfil__descricaoPerfil {
        width: 100%;
    }

    .containerPerfil__containerPublicacoes {
        align-items: center;
        justify-content: center;
    }
}