.formularioPublicacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%;
    gap: 25px;
    padding-bottom: 50px;
}

.container__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.titulo__tag{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tags{
    font-size: smaller;
    font-weight: lighter;
    display: flex;
    flex-direction: row;

}

.tagsList {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.containerTags{
    width: 350px;
    height: 140px;
    background-color: var(--input-color);
    color: var(--textInput-color);
    border-radius: 15px;
    border: inherit;
    box-shadow: 0px 4px 20px 0px rgba(65, 57, 70, 0.15);
    padding-left: 10px;
    border: solid 2px #C98FEC;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 3000px) {
    .formularioPublicacao {
        width: 100%;
        justify-content: flex-start;
        height: 80vh;
        overflow-y: scroll;
        padding: 16px;
    }

    .container__main {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .container__footer {
        width: 100%;
        flex-direction: column;
    }

    .tagsList {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      
    }
    
    .containerTags{
        width: 100%;
        height: 250px;
       
    }
}

@media (max-width: 1700px) {
    .formularioPublicacao {
        width: 100%;
        justify-content: flex-start;
        height: 80vh;
        overflow-y: scroll;
        padding: 16px;
    }

    .container__main {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .container__footer {
        width: 100%;
        flex-direction: column;
    }

    .tagsList {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      
    }
    
    .containerTags{
        width: 100%;
        height: 250px;
       
    }
}

@media (max-width: 1500px) {
    .formularioPublicacao {
        width: 100%;
        justify-content: flex-start;
        height: 80vh;
        overflow-y: scroll;
        padding: 16px;
    }

    .container__main {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .container__footer {
        width: 100%;
        flex-direction: column;
    }

    .tagsList {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      
    }
    
    .containerTags{
        width: 100%;
        height: 250px;
       
    }
}

@media (max-width: 1300px) {

    .formularioPublicacao {
        width: 100%;
        justify-content: flex-start;
        height: 80vh;
        overflow-y: scroll;
    }

    .container__main {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .container__footer {
        width: 100%;
        flex-direction: column;
    }

    .tagsList {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      
    }
    
    .containerTags{
        width: 100%;
        height: 250px;
       
    }
}

@media (max-width: 1100px) {
    .formularioPublicacao {
        width: 100%;
        justify-content: flex-start;
        height: fit-content;
        overflow-y: scroll;
    }

    .container__main {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .container__footer {
        width: 100%;
        flex-direction: column;
    }

    .tagsList {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .containerTags{
        width: 100%;
        height: 250px;
       
    }
}

@media (max-width: 1000px) {
    .formularioPublicacao {
        width: 100%;
        justify-content: flex-start;
        height: fit-content;
        overflow-y: scroll;
    }

    .container__main {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .container__footer {
        width: 100%;
        flex-direction: column;
    }

    .tagsList {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .containerTags{
        width: 100%;
        height: 140px;
       
    }
}

@media (max-width: 800px) {

    .formularioPublicacao {
        width: 100%;
        justify-content: flex-start;
        height: fit-content;
        overflow-y: scroll;
    }

    .container__main {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .container__footer {
        width: 100%;
        flex-direction: column;
    }

    .tagsList {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .containerTags{
        width: 100%;
        height: 140px;
       
    }
}

@media (max-width: 600px) {

    .formularioPublicacao {
        width: 100%;
        justify-content: flex-start;
        height: fit-content;
        overflow-y: scroll;
    }

    .container__main {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .container__footer {
        width: 100%;
        flex-direction: column;
    }

    .tagsList {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .containerTags{
        width: 100%;
        height: 140px;
       
    }

}

@media (max-width: 300px) {}
