.comentarioPublicacaoMeuPerfil {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.comentarioPublicacaoMeuPerfilExpandido {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.comentarioMeuPerfil__containerDados {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.containerDados__containerTextosMeuPerfil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 150px;
    width: 100%;
}

.nomeUsuarioComentario {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  top: -15px;
}

.mensagemComentarioMeuPerfil {
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    top: -30px;
    width: 100%;
    max-width: 500px;
    inline-size: 500px;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    color: var(--contrast-color);
}

.mensagemComentarioReduzidoMeuPerfil {
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    top: -30px;
    inline-size: 600px;
    height: 20px;
    color: var(--contrast-color);
}

.botaoVerMaisComentarioMeuPerfil {
    cursor: pointer;
    font-weight: 500;
    color: #A09CA2;
}

.botaoVerMenosComentarioMeuPerfil {
    cursor: pointer;
    font-weight: 500;
    color: #A09CA2;
}

.fotoPerfilUsuario {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.responderComentario {
    color: #A09CA2;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: -30px;
    cursor: pointer;
}

.botaoOpcoesComentarioMeuPerfil {
    display: none;
    color: var(--contrast-color);
}

.comentarioPublicacaoMeuPerfil:hover .botaoOpcoesComentarioMeuPerfil {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -15px;
    top: 10px;
    height: 20px;
    width: 20px;
}

.botaoOpcoesComentarioShowMeuPerfil {
    display: initial;
}

.tes {
    position: absolute;
    top: -25px;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #A09CA2;
    border-radius: 20px;
    filter: opacity(60%);
}

.modalOpcoesComentarioMeuPerfil {
    position: fixed;
    z-index: 1001;
    width: 200px;
    background-color: var(--default-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.textoExcluirComentario {
    width: 100%;
    padding: 12px;
    color: var(--contrast-color);
}

.textoEditarComentario {
    width: 100%;
    padding: 12px;
    color: var(--contrast-color);
}

.textoDenunciarComentario {
    width: 100%;
    padding: 12px;
    color: var(--contrast-color);
}

.opcaoExcluirComentario:hover {
    background-color: #A09CA2;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.opcaoEditarComentario:hover {
    width: 100%;
    background-color: #A09CA2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.opcaoDenunciarComentario:hover {
    width: 100%;
    background-color: #A09CA2;
    cursor: pointer;
    border-radius: 20px;
}

.modalEscuroMeuPerfil {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #A09CA2;
    border-radius: 20px;
    filter: opacity(60%);
}

@media (max-width: 1500px) {
    .containerDados__containerTextosMeuPerfil {    
        width: 100%;
    }

    .mensagemComentarioMeuPerfil {
        width: 200px;
        overflow-wrap: break-word;
        text-wrap: wrap;
    }

    .botaoOpcoesComentarioMeuPerfil {
        padding-right: 100%;
    }


    .modalOpcoesComentarioMeuPerfil {
        top: 40%;
        left: 40%;
    }
    

}

@media (max-width: 1300px) {
    .containerDados__containerTextosMeuPerfil {    
        width: 100%;
    }

    .mensagemComentarioMeuPerfil {
        width: 200px;
        overflow-wrap: break-word;
        text-wrap: wrap;
    }


    .modalOpcoesComentarioMeuPerfil {
        top: 50%;
        left: 40%;
    }
}

@media (max-width: 1100px) {

    .containerDados__containerTextosMeuPerfil {    
        width: 100%;
    }

    .mensagemComentarioMeuPerfil {
        width: 300px;
        overflow-wrap: break-word;
        text-wrap: wrap;
    }

    .modalEscuroMeuPerfil {
        height: 140%;
        max-height: 200%;
    }

    .modalOpcoesComentarioMeuPerfil {
        top: 30%;
        left: 40%;
    }

}

@media (max-width: 1000px) {
    .containerDados__containerTextosMeuPerfil {    
        width: 100%;
    }

    .mensagemComentarioMeuPerfil {
        width: 300px;
        overflow-wrap: break-word;
        text-wrap: wrap;
    }

    .modalEscuroMeuPerfil {
        height: 140%;
        max-height: 200%;
    }

    .modalOpcoesComentarioMeuPerfil {
        top: 30%;
        left: 40%;
    }

    
}

@media (max-width: 800px) {
    .containerDados__containerTextosMeuPerfil {    
        width: 100%;
    }

    .mensagemComentarioMeuPerfil {
        width: 200px;
        overflow-wrap: break-word;
        text-wrap: wrap;
    }
}

@media (max-width: 600px) {

    .containerDados__containerTextosMeuPerfil {    
        width: 100%;
    }

    .mensagemComentarioMeuPerfil {
        width: 200px;
        overflow-wrap: break-word;
        text-wrap: wrap;
    }


    .modalEscuroMeuPerfil {
        height: 153%;
        max-height: 200%;
    }

    .modalOpcoesComentarioMeuPerfil {
        top: 30%;
        left: 25%;
    }
}

@media (max-width: 300px) {
    
}